@using RecipeAppMVC.Models.Recipe;
@model RecipeDetailModel;
@{
    ViewData["Title"] = "Recipe details";
}
<p>@Model.Name</p>

<ul class="list-group">
    @foreach (var ingredient in Model.Ingredients)
    {
        <li class="list-group-item">@($"{ingredient.Amount}{ingredient.TypeOfAmount} {ingredient.Name}")</li>
    }
</ul>

<p>@($"{Model.ReviewsSummary.Rating}/5 ({Model.ReviewsSummary.RatingCount})")</p>

<ul class="list-group">
    @foreach (var review in Model.Reviews)
    {
        <li class="list-group-item">@($"{review.ReviewerName} -> {review.Rating}")</li>
    }
</ul>
<div class="row mt-3 mx-1 gap-3">
    <a class="col btn btn-primary" asp-action="Index">Go Back</a>
    <a class="col btn btn-warning" asp-action="Edit"   asp-route-id="@Model.Id">Edit</a>
    <a class="col btn btn-danger"  asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>